:root {
  /* LinkedIn */
  /* width: 1300px;
  height: 396px; */
  --image-width: calc(1024px / 1.5);
  --image-height: calc(1024px / 1.5);
  width: var(--image-width);
  height: var(--image-height);
}
html,body
{
    scrollbar-width: none;
}

.svg-container {
  background: transparent;
  width: var(--image-width);
  height: var(--image-height);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-icon {
  width: calc(1024px / 1.5);
  height: calc(1024px / 1.5);
}